body {
    background: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

h4 {
    color: #e1e2ec;
    font-size: 250%;
    text-align: center;
}

h5 {
    position: absolute;
    color: #e1e2ec;
    left: 70%;
    font-size: 15px;
}

button {
    width: 30%;
    height: 60px;
    background: transparent;
    border-radius: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

@keyframes hover1 {
    to {
        box-shadow: 10px 5px #7DEDFF;
    }
}

@keyframes hover2 {
    to {
        box-shadow: -10px -5px #7DEDFF;
    }
}


@keyframes hover3 {
    to {
        box-shadow: 10px 5px 8px #7DEDFF;
    }
}

@keyframes hover4 {
    to {
        box-shadow: 10px 5px 8px #7DEDFF, -10px -5px 10px #FBC7F7;
    }
}

@keyframes hover5 {
    to {
        box-shadow: 10px 5px 8px 2px #7DEDFF;
    }
}

@keyframes hover6 {
    to {
        box-shadow: inset -10px -5px 12px #7DEDFF;;
    }
}

#example1 {
    animation: hover1 2s linear infinite;
    
}

#example2 {
    animation: hover2 2s linear infinite;
}

#example3 {
    animation: hover3 2s linear infinite;
}

#example4 {
    animation: hover4 2s linear infinite;
}

#example5 {
    animation: hover5 2s linear infinite;
}

#example6 {
    animation: hover6 2s linear infinite;
}

@media (max-width: 420px) {
    button {
        width: 100%;
    }
}

@media (max-width: 700px) {
    button {
        width: 40%;
    }
}